@font-face {
    font-family: 'fonteJogo';
    src: url('Trajan\ Pro\ Regular.ttf');
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DK+Loopet:wght@100..400&family=Share+Tech&display=swap');


/* NAV BAR */

html,
body {
    font-family: 'fonteJogo', sans-serif;
    overflow-x: hidden; 
    width: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    background: #000000;
}
ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #000000;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: rgb(71, 69, 69);
}

ul li:hover ul.dropdown {
    display: block;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0,0.8);
    opacity: 0.8;
}

.logo {
    width: 15%;
    justify-self: center;
}

.lado{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-start;
    padding: 0.5rem;
    margin: 1.5rem;
    font-size: 0.9rem;
}



.header a {
    text-decoration: none; 
    color: white;
}

.tudoTopo{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

.topoPagina {
    background-image: url(imagens/pagInicial/haloownestVistaDeLonge.png);
    background-size: cover;
    height: 120vh;
    width: 100vw;
}


.quirrel{
    width: 25vw;
    margin-top: 10%;
    margin-left: 10%;
}
.textoTopoPagina{
    align-self: center;
    width: 50%;
    height: 50%;
}
.textoTopoPagina h1{
    font-size: 3rem;
}
.textoTopoPagina h3{
   font-family: "Share Tech", sans-serif;
}
.paginaTamanhoSobreJogo{
    width: 100vw;
    height: 90vh;
    display: flex;
    background-color: rgb(55, 57, 73);
    background-size: cover;
}

.tudoJogo{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin: 5%;
}

.video{
    width: 150rem;
    height: 30rem;
    margin-right: 3rem;
    margin-left: 1rem;
}
.hkTeamCherry {
    width: 40%;
}
.textoSobreJogo h1{
    font-size: 3rem;
    font-weight: 900;
}
.textoSobreJogo p{
    font-family: "Share Tech", sans-serif;
    width: 45%;
    font-size: x-large;
}

.tamanhoMetroidvania{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.tudoMetroidvania {
    background-image: url(imagens/pagInicial/metroidvaniaFundo.png);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
}
.textoMetroidvania {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-content: center;
    text-align:justify;
    width: 50%;

}
.textoMetroidvania h4{
    font-family: "Share Tech", sans-serif;
    margin-bottom: 20%;
    font-size: 2rem;
}
.textoMetroidvania h1{
    margin-bottom: 10%;
    
}



.introTexto p{
    font-family: "Share Tech", sans-serif;
}

.intro{
    margin:5%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

.hkVagando {
    width: 40%;
}

.sePerderFundo {
    background-image: url(imagens/pagInicial/fundoDirtmouthCortado.png);
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.sePerderFundo .sePerderTexto{
    justify-content: flex-start;
    align-self: center;
}

.sePerderFundo img{
    justify-content: center;
    align-self: center;
    align-self: center;
    width: 18rem;
}
.imagem{
    display: flex;
    justify-content: center;

}
.margem{
    margin-top: 4rem;
}
.sePerder{
    background-color: rgb(0, 0, 0,0.5);
    color: white;
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    width: 60%;
    padding: 2rem;
}


.sePerderTexto h4{
    font-family: "Share Tech", sans-serif;
}


/* LOGIN */
.paginaTamanho{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.topoPaginaLogin {
    background-image: url(imagens/login/fundoLogin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}

.retangulo{
    color: white;
    background-color: rgb(0, 0, 0,0.5); 
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-self: center;
    align-self: center;
    height: 50%;
    margin: 10%;
}


/* Curiosidades */

.paginaTamanhoCuriosidades{
    width: 100vw;
    height: 100vh;
  
}
.imagemFundoCuriosidades{
    background-image: url(imagens/fundos.png);
    background-size: cover;
    background-position: center;
}

.curiosidadesConteudo{
    color: white;
    font-family: "Share Tech", sans-serif;
    background: rgb(0, 0, 0,0.5);
    border-radius: 5%;
    width: 80%;
    align-self: center;
    justify-self: center;
    margin-top: 8vw;
}
.curiosidadeTexto{
    width: 70vw;
    padding: 3rem;
    justify-self: center;

}
.tituloCuriosidades{
    justify-self: center;
    font-family: 'fonteJogo', sans-serif;
}
.topico{
    margin: 5%;
}

.footer{
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Share Tech", sans-serif;
}

.emailFooter{
    width: 3vw;
    height: 5vh;
    margin-left: 2%;
    align-self: center;
}
.footer p{
    margin: 2%
}

/*CONQUISTAS*/

.TamanhoConquistas{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.imagemFundoConquistas {
    background-image: url(imagens/fundoConquistas.jpg);
 
    background-repeat: repeat;
}

.retanguloCnquistas{
    background-color: rgb(0, 0, 0,0.5); 
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    justify-self: center;
    align-self: center;
    height: 100%;
    margin: 10%;
        color: white;
}
.conquista{
    display: flex;
}
.conquista img{
    width: 20vw;
    height: 20vh;
    align-self: center;
    margin: 1.2rem;
    margin-top: 1.4rem;
}
.conquista input {
    width: 5vw;
}
.conquista h5{
    font-family: "Share Tech", sans-serif;
    color: rgb(120, 120, 120);
    margin: 0;
}
.conquista h4{
    font-family: "Share Tech", sans-serif;
    margin-bottom: 0.5rem;
}
.conquista h2{
    margin-bottom: 0.8rem;
}
.tituloConquista{
    align-self: center;
    justify-self: center;
    margin: 4rem;
}

